@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

body {
	font-family: 'Lato';
	font-size: 20px;
	font-weight: 300;
	padding: 20px;
	background-color: rgb(213, 204, 175);

}
.img-container{
	margin-top: 20px;
}